<ion-header>
  <ion-navbar>
    <ion-title>About me</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div class="about-text">
    <div class="inner-text">
      My name is Andrew and I'm a Software Engineer. I made Rummage because I saw a need when I was in college. A need for students
      to have a market place exclusively for them and their peers. Something safer than other sites where you create posts
      and meet up with strangers at random times. And something more directed towards this specific need than a social media
      page run by students.
    </div>

    <div class="inner-text">
      So I made this. All of this. For you. For free. So I want you to help me out and you can do that in a few ways.
    </div>

    <ul>
      <li>Use the contact info to tell me how to make this app better. I truly value your input.</li>
      <li>Rate this app (unless it's a bad one, then forget I said that).</li>
      <li>Lastly, tell your friends about Rummage. </li>
    </ul>

    <div class="inner-text">
      Thank you for giving me the most valuable possession you own, your time.
    </div>

    <div class="inner-text">
      -- Andrew
    </div>
  </div>
</ion-content>