page-about {
    ion-content {
        .about-text {
            font-size: 15px;
            color: map-get($colors, text);
            background-color: white;
            padding: 5%;
            box-shadow: 5px 5px 5px rgb(220, 220, 224);
        }

        .inner-text {
            margin-bottom: 5%;
        }
    }
}
