<ion-content padding>
  <div class="logo"></div>
  <div class="errorMessage center" [hidden]="!error">{{errorMessage}}</div>

  <ion-item>
    <ion-label color="text" floating>Email (.edu)</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="text" floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <div class="center">
    <button ion-button color="primary" (click)="login()">LOGIN</button>
  </div>

  <div class="new-account center" [hidden]="fromRegister">
    Don't have an account ?
    <p class="signup" (click)="register()">Signup</p>
  </div>

  <div class="link-text center" [hidden]="fromRegister">
    Forgot Password ?
  </div>

  <div class="link-text center" [hidden]="!fromRegister" (click)="resendVerification()">
    Resend Verification Email
  </div>
</ion-content>