page-register {
    ion-content {
        .scroll-content {
            overflow-y: hidden;
            background-color: white;
        }

        .logo {
            margin-top: 20%;
            margin-bottom: 5%;
            height: 20%;
            width: auto;
            background-image: url('/assets/imgs/rummage-logo.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        .errorMessage {
            font-size: 16px;
            color: map-get($colors, secondary);
        }

        .center {
            text-align: center;
        }

        ion-item.item:nth-child(2) > div:nth-child(1) {
            margin-right: 5%;
        }

        ion-item.item:nth-child(3) > div:nth-child(1) {
            margin-right: 5%;
        }

        ion-item.item:nth-child(4) > div:nth-child(1) {
            margin-right: 5%;
        }

        .button {
            border-radius: 0;
            margin-top: 12%;
            padding: 8% 35%;
        }

        .cancel {
            margin-top: 5%;
            color: map-get($colors, link);
        }
    }
}
