<ion-content padding>
  <div class="logo"></div>
  <div class="errorMessage center"[hidden]="!error">{{errorMessage}}</div>

  <ion-item>
    <ion-label color="text" floating>Email (.edu)</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="text" floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="text" floating>Confirm Password</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>

  <div class="center">
    <button ion-button color="primary" (click)="createUser()">REGISTER</button>
  </div>

  <div class="center">
    <div class="cancel" (click)="cancelRegister()">Cancel</div>
  </div>
</ion-content>