<ion-tabs>
    <ion-tab [root]="homeRoot" tabTitle="Home" tabIcon="md-home"></ion-tab>
    <ion-tab [root]="exploreRoot" tabTitle="Explore" tabIcon="md-search"></ion-tab>
    <ion-tab [root]="inboxRoot" tabTitle="Inbox" tabIcon="md-mail"></ion-tab>
    <ion-tab [root]="savedRoot" tabTitle="Saved" tabIcon="md-bookmark"></ion-tab>
</ion-tabs>
