page-manage-posts {
    ion-content {
        .post-container {
            width: 100%;
            margin-top: 5%;
        }

        .post-header {
            margin-left: 5%;
            margin-bottom: 2%;
            font-size: 16px;
            color: map-get($colors, text);
        }

        .post-content {
            background-color: white;
            padding-left: 5%;
            margin-bottom: 1%;
        }

        .post-title {
            margin-top: 5%;
            color: map-get($colors, text);
            float: left
        }

        .delete { 
            float:right;
            color: map-get($colors, secondary);
        }

        .edit {
            float:right;
            color: map-get($colors, link);
        }

        .button {
            background-color:transparent;
        }

        .button.activated {
            background-color: transparent;
        }

        .clear {
            clear: both;
        }
    }
}

.alert-buttons {

    button.alert-button.alert-delete{
        color: map-get($colors, secondary);
    }

    button.alert-button.alert-cancel{
        color: map-get($colors, link);
    }
}