<ion-header>
  <ion-navbar>
    <ion-title>Manage Posts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="post-container">
    <div class="post-header">POSTS</div>
    <div class="post-content" *ngFor="let post of posts; let i = index">
      <div class="post-title">{{post.title | postTitle}}</div>
      <div>
        <button class="delete" ion-button icon-only (click)="invokeDialog(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </div>
      <div>
        <button class="edit" ion-button icon-only (click)="edit(i)">
          <ion-icon name="md-create"></ion-icon>
        </button>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="post-container" [hidden]="!offlinePostExists">
      <div class="post-header">OFFLINE POSTS</div>
      <div class="post-content" *ngFor="let post of offlinePost;">
        <div class="post-title">{{post.title | postTitle}}</div>
        <div>
          <button class="delete" ion-button icon-only (click)="invokeOfflineDialog()">
            <ion-icon name="trash"></ion-icon>
          </button>
        </div>
        <div>
          <button class="edit" ion-button icon-only (click)="restoreOfflinePost()">
            <ion-icon name="md-create"></ion-icon>
          </button>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</ion-content>