<ion-header>
  <ion-navbar>
    <ion-title>Inbox</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="inbox-container">
    <div class="inbox-header">MESSAGES</div>
    <ion-list class="conversations">
      <ion-item-sliding *ngFor="let conversation of conversations; let i = index" >
        <ion-item class="conversation-text" (click)="open(i)">
          <div>
            <div [hidden]="conversation.private"> Post: {{conversation.receiver}}</div>
            <div [hidden]="!conversation.private"> {{conversation.receiver}}</div>
            <div class="date">
              {{conversation.date | date: 'short'}}
            </div>
          </div>
          <div class="message">
            {{conversation.message}}
          </div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="secondary" (click)="delete(i)">Delete</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>