page-inbox {
    ion-content {
        .inbox-container {
            margin-top: 5%;
        }

        .inbox-header {
            margin-left: 5%;
            padding-bottom: 3%;
            color: map-get($colors, text);
        }

        .conversations {
            border-top: 1px solid rgb(220, 220, 224);
            border-bottom: 1px solid rgb(220, 220, 224);
        }

        .conversation-text {
            float: left;
            font-size: 14px;
            color: map-get($colors, text);
        }

        .message {
            float: left;
            padding-top: 2%;
        }

        .date {
            margin-top: -15px;
            float: right;
            font-size: 10px;
        }
    }
}
