<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-icon class="custom-icon" name="md-settings" (click)="openSettings()"></ion-icon>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="filter-container">
    <div class="display-inline" [ngClass]="{true: 'selected'}[trendingFilter]" (click)="filterTrending()">Trending</div>
    <div class="bar-divider display-inline"> | </div>
    <div class="display-inline" [ngClass]="{false: 'selected'}[trendingFilter]" (click)="filterNewest()">Newest</div>
  </div>

  <div *ngFor="let post of posts; let i = index;">
    <div class="card-container" (click)="openDetailPost(i)">
      <div class="card-header">
        {{post.title}}
      </div>
      <div class="card-content">
        {{post.description}}
      </div>
    </div>
  </div>

  <ion-infinite-scroll (ionInfinite)="queryMorePosts($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more posts...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  <ion-fab bottom right>
    <button ion-fab color="primary" (click)="createPost()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>