page-home {
    ion-header {
        .custom-icon {
            font-size: 30px;
            float: right;
            margin-right: 3%;
            color: white;
        }
    }

    ion-content {
        .filter-container {
            width: 100%;
            text-align: center;
            color: map-get($colors, text);
            font-size: 16px;
        }

        .selected {
            color: map-get($colors, primary);
        }

        .bar-divider {
            font-size: 18px;
        }

        .display-inline {
            display: inline-block;
        }

        .card-container {
            width: 100%;
            background-color: white;
            margin: 5% 0 ;
            box-shadow: 5px 5px 5px rgb(220, 220, 224);
        }

        .card-header {
            font-size: 16px;
            margin:0 5%;
            padding: 5% 0 2% 0;
            color: map-get($colors, text);
        }

        .card-content {
            margin: 0 5%;
            padding: 0 0 5% 0;
            color: map-get($colors, text);
        }
    }
}
