<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Settings</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <div class="category-container">
    <div class="card-header">
      USER
    </div>
    <div class="card">
      <div class="card-text bottom-border" (click)="managePosts()">Manage Posts</div>
      <div class="card-text">Manage Profile</div>
    </div>
  </div>


  <div class="category-container">
    <div class="card-header">
      MISCELLANEOUS
    </div>
    <div class="card">
      <div class="card-text bottom-border">Support</div>
      <div class="card-text bottom-border" (click)="about()">About Me</div>
      <div class="card-text" (click)="logout()">Logout</div>
    </div>
  </div>

</ion-content>