page-settings {
    ion-content {
    
        .category-container {
            margin-top: 5%;
            width: 100%;
        }

        .card-header {
            padding-bottom: 1%;
            margin-left: 5%;
            color: map-get($colors, text);
        }

        .card {
            background-color: white;
            border-top: 1px solid rgb(220, 220, 224);
            border-bottom: 1px solid rgb(220, 220, 224);
        }
        .bottom-border {
            border-bottom: 1px solid rgb(233, 233, 238);
        }

        .card-text {
            margin-left: 5%;
            padding: 3% 0;
            color: map-get($colors, link);
        }
    }
}
