page-saved {
    ion-content {
        .bookmark-container {
            margin-top: 5%;
        }

        .bookmark-header {
            margin-left: 5%;
            padding-bottom: 3%;
            color: map-get($colors, text);
        }

        .bookmarks {
            border-top: 1px solid rgb(220, 220, 224);
            border-bottom: 1px solid rgb(220, 220, 224);
        }

        .bookmark-text {
            float: left;
            font-size: 14px;
            color: map-get($colors, text);
        }

        .date {
            margin-top: -15px;
            float: right;
            font-size: 10px;
        }
    }
}
