<ion-header>

  <ion-navbar>
    <ion-title>Saved</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div class="bookmark-container">
        <div class="bookmark-header">BOOKMARKS</div>
        <ion-list class="bookmarks">
          <ion-item-sliding *ngFor="let bookmark of bookmarks; let i = index" >
            <ion-item class="bookmark-text" (click)="open(i)">
              <div>
                <div>{{bookmark.title}}</div>
                <div class="date">
                  {{bookmark.saved | date: 'short'}}
                </div>
              </div>
            </ion-item>
            <ion-item-options side="right">
              <button ion-button color="secondary" (click)="delete(i)">Delete</button>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
</ion-content>
