page-post {
    ion-header {
        .white-icon {
            font-size: 30px;
            float: right;
            margin-right: 3%;
            color: white;
        }
    }

    ion-content {
        .card-container {
            width: 100%;
            padding-bottom: 5%;
        }

        .card-header {
            margin: 0 5%;
            font-size: 16px;
            padding-bottom: 1%;
            color: map-get($colors, text);
        }

        .card-content {
            width: 100%;
            padding: 5%;
            background-color:white;
            color: map-get($colors, text);
            box-shadow: 5px 5px 5px rgb(220, 220, 224);
        }

        .message-container {
            width: 100%;
            margin-bottom: 10px;  
        }

        .sender {
            font-size: 10px;
            margin-left: 3%;
            color: map-get($colors, text);
        }

        .myself {
            float: right;
            width: 70%;
            font-size: 10px;
            margin-right: -20%;
            color: map-get($colors, text);
        }

        .message {
            border-radius: 10px;
            background-color: white;
            padding: 6%;
        }

        .my-message {
            float: right;
            width: 70%;
            background-color: map-get($colors, primary);
            color:white;
        }

        .other-message {
            float: left;
            width: 70%;
            color: map-get($colors, text);
        }

        .clear {
            clear: both;
        }   
    }

    ion-footer {
        
        .keyboard-hidden-container {
            width: 100%;
            background-color: white;
            margin: 0 -5% 15% -5%;
            position: fixed;
            bottom: 0;
        }

        .keyboard-hidden-visible {
            width: 100%;
            padding: 0;
            background-color: white;
            margin: 0 -5% 0 -5%;
            position: fixed;
            bottom: 0;
        }

        .text-input {
            padding: 4% 5%;
            float: left;
            width: 80%;
            color: map-get($colors, text);
        }

        .send {
            float: right;
            margin-top: 4%;
            font-size: 16px;
            width: 20%;
            text-align: center;
            color: map-get($colors, link);
        }
    }
}
