<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-icon [hidden]="bookmarked" class="white-icon" (click)="bookmarkPost()" name="md-bookmark"></ion-icon>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="card-container">
    <div class="card-header">DESCRIPTION</div>
    <div class="card-content">{{description}}</div>
  </div>

  <ion-scroll scrollY="true" style="width: 100%; height: 60%; margin-bottom: 15%;">
    <div class="message-container" *ngFor="let message of messages;">
      <div class="myself" *ngIf="message.sender === sender">{{message.sender}}</div>
      <div class="message my-message" *ngIf="message.sender === sender">{{message.message}}</div>
      <div class="sender other-message" *ngIf="message.sender !== sender">{{message.sender}}</div>
      <div class="message other-message" *ngIf="message.sender !== sender">{{message.message}}</div>
      <div class="clear"></div>
    </div>
  </ion-scroll>
</ion-content>

<ion-footer>
  <div [ngClass]="{true: 'keyboard-visible-container', false: 'keyboard-hidden-container'}[keyboardVisble]">
    <input type="text" class="text-input" placeholder="Type here..." [(ngModel)]="text">
    <div class="send" (click)="sendMessage()">Send</div>
  </div>
</ion-footer>