page-create-post {
    ion-content {
        .card-container {
            width: 100%;
            background-color: white;
            padding: 5%;
            margin-bottom: 5%;
            box-shadow: 5px 5px 5px rgb(220, 220, 224);
        }

        ion-input {
            color: map-get($colors, text);
        }

        textarea {
            height: 250px;
            color: map-get($colors, text);
        }

        .center {
            text-align: center;
        }

        .button {
            padding: 8% 0;
            border-radius: 0;
            width: 100%;
        }
    }
}

.alert-buttons {
    button.alert-button.alert-okay{
        color: map-get($colors, link);
    }

    button.alert-button.alert-yes{
        color: map-get($colors, link);
    }

    button.alert-button.alert-no{
        color: map-get($colors, secondary);
    }
}