<ion-header>
  <ion-navbar>
    <ion-title [hidden]="mode == 'edit'">New Post</ion-title>
    <ion-title [hidden]="mode != 'edit'">Edit Post</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <div class="card-container">
    <ion-label color="primary" stacked>Post Title</ion-label>
    <ion-input placeholder="Enter here" [(ngModel)]="title"></ion-input>

    <ion-label color="primary" stacked>Post Description</ion-label>
    <ion-textarea placeholder="Enter here" [(ngModel)]="description"></ion-textarea>
  </div>

  <div class="card-container">
    <ion-item>
      <ion-label color="primary">Category</ion-label>
      <ion-select interface="popover" [(ngModel)]="gender">
        <ion-option value="f">Female</ion-option>
        <ion-option value="m">Male</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="center" [hidden]="mode == 'edit'">
    <button ion-button color="primary" (click)="createPost()">CREATE POST</button>
  </div>

  <div class="center" [hidden]="mode != 'edit'">
      <button ion-button color="primary" (click)="updatePost()">UPDATE POST</button>
    </div>

</ion-content>